* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #212121;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
  border-bottom: 1px solid aliceblue;
  padding: 10px;
}
.nav h1 {
  color: aliceblue;
}
.main {
  height: 90vh;
  width: 100vw;
  background-color: rgba(240, 248, 255, 0.152);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main h1 {
  margin: 30px;
  color: aliceblue;
}
.minContainer,
.maxContainer,
.subContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
}
.subContainer {
  width: 20vw;
  height: 20vh;
  border: 1px solid grey;
  gap: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.761);
}
.subContainer input {
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding: 4px;
  text-align: center;
}
.subContainer input::-webkit-outer-spin-button,
.subContainer input::-webkit-inner-spin-button {
  appearance: none;
}
label {
  padding-bottom: 5px;
  font-weight: 500;
}

.minMaxInputConatiner input[type="range"] {
  -webkit-appearance: none;
  /* -moz-appearance: none; */
  /* appearance: none; */
  /* background-color: aliceblue; */
  /* pointer-events: none; */
}

.minMaxInputConatiner {
  /* border: 1px solid black; */
  position: relative;
  width: 20vw;
  height: auto;
}
.minMaxInputConatiner input {
  position: absolute;
  width: 100%;
  bottom: -12px;
  pointer-events: none;
  background-color: transparent;
}
.minMaxInputConatiner input::-webkit-slider-thumb {
  appearance: none;
  pointer-events: auto;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.progressBar {
  width: 100%;
  height: auto;
  background-color: none;
  position: relative;
  margin-top: 15px;
}
.bar {
  width: 100%;
  height: 8px;
  background-color: aliceblue;
  position: absolute;
  border-radius: 10px;
}
